## LISST GSD analysis

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Import all raw files

In [2]:
# directory where the CSV files are located
folder_path = "raw_samples"

# list all CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# loop through each CSV file and read it into a DataFrame and create variables
for csv_file in csv_files:
    file_name = os.path.splitext(csv_file)[0]  # Get the file name without the extension
    file_path = os.path.join(folder_path, csv_file)
    # create a variable with the file name and store the DataFrame
    exec(f"{file_name} = pd.read_csv(file_path, encoding='latin1')")

Create new column of frequencies

In [3]:
for file_name in csv_files:
    df_name = file_name[:-4] # remove the '.csv' extension from the file name
    df = globals()[df_name] # get the df from the global variables
    total = df['Vol Conc'].iloc[-1] # get the total from the last row
    df['Frequency'] = np.round(df['Vol Conc'].div(total) * 10000) # get the frequency and multiply by 10000 to get integer numbers
    df.loc[df.index[-1], 'Frequency'] = df['Frequency'][:-1].sum() # get the sum of the frequency and store it in the last row (this will be n)
    globals()[df_name] = df # update the df in the global variables

Create a DataFrame with the repeated sizes (samples!!!!!!!)

In [5]:
samples = pd.DataFrame() # create an empty DataFrame
for file_name in csv_files:
    df_name = file_name[:-4]  # remove the '.csv' extension from the file name
    df = globals()[df_name]  # get the DataFrame from the global variables
    sizes = df.iloc[:-1, 0].values # have to do it this way, it wont let me use the column name
    frequencies = (df['Frequency'].iloc[:-1].values).astype(int) # make sure not to repeat the last row
    repeated_sizes = np.repeat(sizes, frequencies)
    samples[df_name] = pd.Series(repeated_sizes)

In [6]:
samples

,T1A_1,T1B_1,T1C_1,T1D_1,T2A_1,T2A_2,T2B_1,T2B_2,T3C_1,T3C_2,...,T7C_1,T7C_2,T7D_1,T7D_2,T8A_1,T8A_2,T8C_1,T8C_2,T8D_1,T8D_2
0,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,...,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37
1,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,...,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37
2,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,...,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37
3,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,...,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37
4,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,...,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,...,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27
9993,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,...,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27
9994,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,...,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27
9995,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,...,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27
9996,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,...,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27,460.27

Instead of having the number repeat eachother, I want to try to enerate random numbers within a specified range (the range being the different size bins)

In [8]:
random_samples = pd.DataFrame() # create an empty DataFrame
for file_name in csv_files:
    df_name = file_name[:-4]  # remove the '.csv' extension from the file name
    df = globals()[df_name]  # get the DataFrame from the global variables
    sizes = pd.to_numeric(df.iloc[:-1, 0]).values # convert to numeric type
    frequencies = pd.to_numeric(df['Frequency'].iloc[:-1]).values.astype(int) # convert to numeric type
    random_sizes = []
    for i in range(len(sizes) - 1):
        random_sizes.extend(np.random.uniform(sizes[i], sizes[i+1], frequencies[i]))
    random_sizes.extend(np.random.uniform(sizes[-1], 500, frequencies[-1]))
    random_samples[df_name] = pd.Series(random_sizes)

In [9]:
random_samples

,T1A_1,T1B_1,T1C_1,T1D_1,T2A_1,T2A_2,T2B_1,T2B_2,T3C_1,T3C_2,...,T7C_1,T7C_2,T7D_1,T7D_2,T8A_1,T8A_2,T8C_1,T8C_2,T8D_1,T8D_2
0,0.406922,0.426941,0.376699,0.401838,0.435809,0.383943,0.383027,0.386277,0.424896,0.435593,...,0.437449,0.424553,0.401697,0.425776,0.371852,0.383104,0.391660,0.384001,0.398384,0.438345
1,0.407021,0.423227,0.419870,0.429040,0.376360,0.401152,0.381152,0.393248,0.373471,0.373450,...,0.411622,0.380335,0.403140,0.431373,0.403812,0.426532,0.382666,0.381221,0.402412,0.429842
2,0.392776,0.406234,0.420051,0.420511,0.371309,0.392639,0.399921,0.399033,0.430965,0.395483,...,0.372300,0.412555,0.430053,0.389667,0.434859,0.422594,0.410612,0.408704,0.388252,0.388730
3,0.433736,0.372500,0.408847,0.378872,0.397263,0.395887,0.438644,0.418901,0.428505,0.414039,...,0.384632,0.434240,0.415880,0.418829,0.397091,0.412622,0.409649,0.378661,0.394996,0.386987
4,0.425414,0.437816,0.387661,0.423807,0.387603,0.418883,0.439435,0.391560,0.388534,0.380526,...,0.404486,0.398822,0.432071,0.430396,0.433789,0.406055,0.395192,0.411399,0.385222,0.371906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,497.417582,494.647173,489.059751,480.034842,463.952226,497.690024,497.606072,476.174125,487.760543,463.982646,...,489.029335,479.422112,474.277551,491.443862,462.444784,493.699207,487.060207,491.679655,491.471510,460.447199
9993,467.997065,464.697900,487.719953,496.714198,466.597351,475.409942,490.754281,470.562871,485.190237,492.261455,...,469.471223,467.167546,495.697008,498.981021,460.612434,465.008325,472.747128,484.156605,482.509073,476.027154
9994,468.627223,475.853149,479.299132,495.287537,474.015370,475.668687,493.934619,488.977490,466.078163,468.097664,...,487.997204,487.989274,499.246847,461.242922,468.586545,473.169733,477.613618,488.692367,485.036795,463.999399
9995,489.283054,484.513170,464.654162,489.905711,477.992071,489.418107,499.415220,468.072867,484.531695,482.122710,...,469.592666,492.922554,495.165108,479.737849,498.828665,490.211029,479.715194,473.333088,474.339735,491.465087
9996,490.533994,495.971781,470.831334,461.512739,484.085175,462.280828,496.639334,493.150234,480.395618,483.979350,...,496.091244,484.214206,491.880544,493.498183,483.763608,497.310236,499.772788,493.841014,476.682716,499.029595